{% extends "index.twig" %}
{% block body %}
    <br>
    <div class="table-head" style="text-align: center">
        <h3>Alle producten</h3>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Naam</th>
            <th scope="col">Omschrijving</th>
            <th scope="col">prijs</th>
            <th scope="col">Acties</th>
        </tr>
        </thead>
        <tbody>
        {% if products|length == 0 %}
            <tr><td colspan="4" style="text-align: center;">Empty Shop!</td></tr>
        {% endif %}
        {% for product in products %}
            <tr>
                <td>{{ product.name|e }}</td>
                <td>{{ product.description|e }}</td>
                <td>{{ product.price|e }}</td>
                <td><a href="/product/edit/{{ product.id }}" class="btn btn-info">Edit</a> <a href="/product/delete/{{ product.id }}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="table-head" style="text-align: center">
        <h3>Product Toevoegen</h3>
    </div>
    <form action="/product" method="post">
        <div class="form-group">
            <label for="name">Product naam</label>
            <input type="name" name="name" class="form-control" id="name" placeholder="naam">
        </div>
        <div class="form-group">
            <label for="description">Beschrijving</label>
            <textarea class="form-control" name="description" type="description" id="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Prijs</label>
            <input type="number" name="price" class="form-control" id="price" placeholder="prijs">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}