{% extends "index.twig" %}
{% block body %}
    {{ results }}
    <br>
    <div class="table-head" style="text-align: center">
        <h3>Nieuwste producten</h3>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Naam</th>
            <th scope="col">Omschrijving</th>
            <th scope="col">prijs</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr onclick="document.location = '/product/{{ product.id }}';">
                <td>{{ product.name|e }}</td>
                <td>{{ product.description|e }}</td>
                <td>{{ product.price|e }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
